{% extends 'bloke/base.html' %} {% block content %}

<div class="card">
  <br>
 
  <strong>  &nbsp;  &nbsp;{{ record.first_name | upper }} {{ record.last_name }} </strong>
      <hr>
  <div class="card-body">
    <p><strong>ID</strong> {{ record.id }}</p>
    <p><strong>Email</strong> {{ record.email }}</p>
    <p><strong>Phone</strong> {{ record.phone }}</p>
    <p><strong>Address</strong> {{ record.address }}</p>
    <p><strong>City</strong> {{ record.city }}</p>
    <p><strong>State</strong> {{ record.state }}</p>
    <p><strong>Country</strong> {{ record.country }}</p>
  </div>
</div>
<br />
<a class="btn btn-outline-primary btn-sm" href="{% url 'dashboard' %}">Back</a>
&nbsp;
<a
  class="btn btn-outline-info btn-sm"
  href="{% url 'update_record' record.id %}"
  >Update</a
>
&nbsp;
<a
  class="btn btn-outline-danger btn-sm"
  href="{% url 'delete_record' record.id %}"
  >Delete</a

{% endblock %}
